.header {
    height: 360px;
    width: 360px;
    display: inline-block;
    border-bottom-right-radius: 360px;
    border-top-right-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    height: 360px;
    width: 360px;
    display: inline-block;
    border-top-left-radius: 360px;
    border-bottom-left-radius: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    width: 30%;
    margin-top: 10%;
}

.bg-primary {
    color: white;
}

.alert {
    margin-top: 20px;
}

.alert-text {
    margin: auto;
}
