.btn-primary {
    display: inline-block;
    width: 15%;
    margin-bottom: 10px;
    border-style: none !important;
}

.button {
    margin-left: 17%;
}

.main-sidebar {
    background-color: #0275d8;
}

.tambahkelas {
    float: right;
    margin-right: 20px;
}

form {
    float: right;
    margin-right: 20px;
}

.ukuran {
    width: 120px;
}

.btn-danger {
    padding: 20px;
}

.dropdown {
    display: flex;
}

.kanan {
    margin-left: 10px;
}

.verif {
    background-color: grey !important;
}

.siswa {
    background-color: grey !important;
}

.ortu {
    background-color: grey !important;
}

.klas {
    background-color: grey !important;
}

a.popup-link {
    padding: 5px 0;
    text-align: center;
    position: relative;
    width: 60px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    background-color: darkgreen;
    border-radius: 3px;
    display: block;
}

a.popup-link:hover {
    background-color: #ff9900;
    box-shadow: 0 3px 0px 0px #eea900;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

label {
    width: 100%;
    margin-left: 1px;
}

.kelas {
    width: 80px !important;
}

.bayar {
    width: 100px;
    padding-top: 10px;
}

/* end link popup*/

/*style untuk popup */

#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}

#popup:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(188, 187, 187, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 99999999999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

@media (min-width: 768px) {
    .popup-container {
        width: 600px;
    }
}

@media (max-width: 767px) {
    .popup-container {
        width: 100%;
    }
}

.popup-container {
    position: relative;
    margin: 7% auto;
    padding: 30px 50px;
    border-radius: 3px;
}

a.popup-close {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #333;
    padding: 7px 10px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    border-radius: 5px;
}

/* style untuk isi popup */

.popup-form .input-group {
    margin: 10px auto;
}

.popup-form .input-group input {
    border-radius: 5px;
    width: 100%;
    margin: auto;
    border: none;
}

.popup-form .input-group input[type="text"] {
    border: 0px;
    position: relative;
    margin: auto;
}

.popup-form .input-group input[type="submit"] {
    background-color: #0275d8;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    margin-top: 40px;
}
