.btn-primary {
    display: inline-block;
    width: 180px;
    margin-top: 10px;
    border-style: none !important;
}

.main-sidebar {
    background-color: #0275d8;
}

.tambahkelas {
    float: right;
    margin-right: 20px;
}

form {
    float: right;
    margin-right: 20px;
}

.ukuran {
    width: 120px;
}

.btn-danger {
    padding: 20px;
}

.dropdown {
    display: flex;
    background-color: #0275d8;
}

.kanan {
    margin-left: 10px;
}

.verif {
    background-color: grey !important;
}

.siswa {
    background-color: grey !important;
}

.ortu {
    background-color: grey !important;
}

.klas {
    background-color: grey !important;
}

label {
    width: 100%;
    margin-left: 1px;
}

.kelas {
    width: 80px !important;
}

.bayar {
    width: 100px;
    padding-top: 10px;
}

.container {
    background-color: white;
    border-radius: 5px;
}

.content {
    background-color: #0275d8;
}

.header {
    /* padding: 20px; */
    /* margin-left: 60px; */
    color: white;
    display: flex;
    justify-content: space-between;
}

.wrap-header {
    padding: 0px 100px;
    box-sizing: border-box;
}

.hai {
    padding: 20px 0px;
    color: white;
    max-width: 300px !important;
}

.ikon {
    padding: 20px;
    color: white;
    /* float: right; */
}

.qr {
    margin: 10px;
}

.wa {
    margin: 10px;
}

.wallet {
    margin: 10px;
}

.tombol {
    color: white;
}

.keuangan {
    padding-top: 20px;
    /* margin-left: 80px; */
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    /* width: 100%; */
}

.pembayaran {
    width: 120px;
    height: 55px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.kekurangan {
    width: 120px;
    height: 55px;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
}

.pembayaran p {
    color: green !important;
}

.keuangan p {
    color: red;
}

.verif-bayar {
    padding: 100px;
}

.kurang {
    background-color: #B2B2B2;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.kurang p {
    color: red;
}

.rek p {
    color: rgb(169, 78, 45);
}

.wrap-verif {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.rek {
    background-color: #B2B2B2;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.upload-bayar {
    display: flex;
}

.upload-bukti {
    width: 100% !important;
}

.wrap-upload {
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}

.form-control {
    width: 100px;
}

.col-form-label {
    width: 100% !important;
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }
    .ikon {
        float: right !important;
    }
    .hai {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .popup-container {
        width: 600px;
    }
}

@media screen and (max-width:768px) {
    .popup-container {
        width: 100%;
    }
    form {
        margin-top: 20px;
    }
    .wrap-header {
        padding: 0px 25px;
        /* box-sizing: border-box; */
    }
}

@media (max-width: 767px) {
    .popup-container {
        width: 100%;
    }
    .keuangan {
        margin: 20px;
    }
    .btn-primary {
        width: 50%;
    }
    form {
        margin-top: 20px;
    }
    .hai {
        padding: 0px;
    }
    /* .form-control {
        width: 250px !important;
    } */
}


/* style untuk isi popup */

.input-group .container {
    background-color: white;
}

label {
    width: 100%;
    margin-left: 1px;
    font-weight: bold;
}

.kelas {
    width: 80px !important;
}

.bayar {
    width: 100px;
    padding-top: 10px;
}


/* hp */

@media screen and (max-width:414px) {
    .popup-container {
        width: 100%;
    }
    form {
        margin-top: 20px;
    }
    .wrap-header {
        padding: 0px 10px;
        /* box-sizing: border-box; */
    }
}

@media screen and (max-width:375px) {
    .popup-container {
        width: 100%;
    }
    form {
        margin-top: 10px;
    }
    .wrap-header {
        padding: 0px 20px;
        /* box-sizing: border-box; */
    }
    .wrap-verif {
        width: 400px;
        padding-right: 100px;
    }
    .wrap-upload {
        width: 250px;
        margin: auto;
    }
    .content {
        width: 380px;
    }
}