.btn-primary {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    border-style: none !important;
}

.main-sidebar {
    background-color: #0275d8;
}

.tambahkelas {
    float: right;
    margin-right: 20px;
}

form {
    float: right;
    margin-right: 20px;
}

.ukuran {
    width: 120px;
}

.btn-danger {
    padding: 20px;
}

.dropdown {
    display: flex;
}

.kanan {
    margin-left: 10px;
}

.verif {
    background-color: grey !important;
}

.siswa {
    background-color: grey !important;
}

.ortu {
    background-color: grey !important;
}

.klas {
    background-color: grey !important;
}

label {
    width: 100%;
    margin-left: 1px;
}

.kelas {
    width: 80px !important;
}

.bayar {
    width: 100px;
    padding-top: 10px;
}

.container {
    background-color: white;
    border-radius: 5px;
}

.content {
    background-color: #0275d8;
}

.header {
    padding: 20px;
    margin-left: 60px;
    color: white;
}

.hai {
    padding: 20px;
    color: white;
}

.ikon {
    padding: 20px;
    color: white;
    float: right;
    margin-left: 1000px;
}

.qr {
    margin: 10px;
}

.wa {
    margin: 10px;
}

.wallet {
    margin: 10px;
}

.tombol {
    color: white;
}

.keuangan {
    padding: 20px;
    margin-left: 80px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.pembayaran {
    width: 120px;
    height: 55px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 5px;
}

.kekurangan {
    width: 120px;
    height: 55px;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
}

.upp {
    margin-right: 55%;
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-wrap: wrap;
    }
    .ikon {
        float: right !important;
    }
    .hai {
        width: 90%;
    }
}
